.DS_Store
node_modules

## Ignore Visual Studio temporary files, build results, etc

# User-specific files
*.suo
*.user
*.sln.docstates
.ntvs_analysis.dat
*.njsproj

# VS code settings
.vscode/*
.eslintrc
.eslintignore
trace-log*
eslint*